<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                What is says our clients
            </h2>
        </div>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            <div class="client_container">
                                <div class="client_detail">
                                    <p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                                        Full Name: Le Thanh Khoi - Student id: 19127186 - Class: 19PTUDWeb1&nbsp;
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="img-box">
                                    <img src="/images/client.jpg " alt="">
                                </div>
                                <div class="name">
                                    <h5>
                                        Le Thanh Khoi
                                    </h5>
                                    <h6>
                      <span>
                        Admin
                      </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            <div class="client_container">
                                <div class="client_detail">
                                    <p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                                        Full Name: Hoang Huu Giap - Student ID: 19127640 - Class: 19PTUDWeb1&nbsp;
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="img-box">
                                    <img src="/images/client.jpg " alt="">
                                </div>
                                <div class="name">
                                    <h5>
                                        Hoang Huu Giap
                                    </h5>
                                    <h6>
                      <span>
                        Admin
                      </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            <div class="client_container">
                                <div class="client_detail">
                                    <p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                                        Full Name: Nguyen Tan Viet - Student id: 19127629 - Class: 19PTUDWeb1&nbsp;
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="img-box">
                                    <img src="/images/client.jpg " alt="">
                                </div>
                                <div class="name">
                                    <h5>
                                        Nguyen Tan Viet
                                    </h5>
                                    <h6>
                      <span>
                        Admin
                      </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>
<!-- end client section -->