<section class = "cart_section layout_padding" >
    <div class ="container" id="cart-container">
        <div class="heading_container heading_center">
            <h2>
                CHECK OUT
            </h2>
        </div>
    </div>
    <div class="container">
    <div class="custom-title">Information form</div>
        <form action ="/user/checkout" method="POST">
            
            <div class="custom-small-title">Your order information</div>
            <div class="row">
            <div class ="order col-lg-6 col-md-6 col-12 mb-4" >
            <div style="padding-top: 20px">
                    <div class="form-group">
                        <span style="color: #cc0000;">*</span>
                        <label for="inputName">Full Name</label>
                        <input type="text" class="form-control"  placeholder="Input your Name" name="name">
                    </div>
                    <div class="form-group">
                        <span style="color: #cc0000;">*</span>
                        <label for="address">Address</label>  
                        <input type="text" class="form-control"  placeholder="Input your Address" name="address">
                    </div>
                    <div class="form-group">
                        <span style="color: #cc0000;">*</span>
                        <label for="phone">Phone</label>  
                        <input type="number" class="form-control"  placeholder="Input your Phone number" name="phone">
                    </div>
                
                </div>
            </div>
            

            <div class ="total col-lg-6 col-md-6 col-12 mb-4">
            <div style="padding-top: 20px">
                   <div class = "cart-bottom-content">
                    <h5>CART TOTAL</h5>
                    <div id ="total-container">
                        <div class="d-flex justify-content-between" >
                            <h6>Subtotal</h6>
                            <p>${{cart.totalPrice}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6>Shipping</h6>
                            <p>$30</p>
                        </div>
                        {{!-- <div>
                            
                            <div class="d-flex justify-content-between">
                                <p>Enter your coupon</p>
                                <input type = "text" placeholder="Coupon Code">
                                
                            </div> 
                        </div> --}}
                        <hr class="second-hr"> 
                        
                        <div class="d-flex justify-content-between">
                            <h6>Total</h6>
                            <p>${{total}}</p>
                        </div>
                       
                        {{!-- <div>
                            
                            <div class="d-flex justify-content-between">
                                <p>Enter your coupon</p>
                                <input type = "text" placeholder="Coupon Code">
                                
                            </div> 
                        </div> --}}
   
                    </div>
                </div>

                    <div class="form-group">
                        
                        <div class="pt-4" style="text-align: right;">
                            <a href = "/"><button type="submit" class="custom-btn btn btn-primary">CONFIRM</button></a>
                            <a href = "/user/cart"><button type="button" class="custom-btn btn btn-primary">Cancel</button></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
    </div>
</section>

