<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Gyments</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <!-- util css   -->
    <link rel="stylesheet" href="/css/util.css">
</head>

<body>

<div class="hero_area" id="header_">
    <!-- header section starts -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="">
                    <span>
              Gyments
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"> About</a>
                            </li>
                            <li class="nav-item" id="product-id">
                                <a class="nav-link" href="/product">Products <i class = "fa fa-caret-down"></i></a>
                                <ul class="sub-nav">
                                    <li class="sub-item"><a class="sub-link" href="/product">Machines</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Dumbbells</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Nutrients</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Whey</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Increase Weight</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Kettlebells</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Bicycle</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/product">Diet Pill</a></li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item" id="why-id">
                                <a class="nav-link" href="/whyUs">Why Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/testimonial">Testimonial</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quote_btn-container">
                        {{#if user}}
                        <ul class="navbar-nav">
                            <li class="nav-item" id="account-menu">
                               <a class="nav-link" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{user.fname}} {{user.lname}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-nav">
                                    <li class="sub-item"><a class="sub-link" href="/user/account"><i class="fa fa-id-card"></i> Profile</a></li>
                                    <li class="sub-item"><a class="sub-link" href="#"><i class="fa fa-unlock"></i> Change password</a></li>
                                    <li class="sub-item"><a class="sub-link" href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                        {{else}}
                            <a href="/login">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Login/Register
                        </a>
                        {{/if}}
                        
                        <a href="/user/cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Cart
                        </a>
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>
{{{body}}}
<!-- info section -->
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">

                <div class="info_form">
                    <h4>
                        Subscribe To Our Newsletter
                    </h4>
                    <form action="">
                        <input type="mail" placeholder="Enter your email...">
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>

                <h4>
                    Contact Us
                </h4>
                <div class="contact_items">
                    <a href="#">
                        <div class="img-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <h6>
                            Location
                        </h6>
                    </a>
                    <a href="#">
                        <div class="img-box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <h6>
                            demo@gmail.com
                        </h6>
                    </a>
                    <a href="#">
                        <div class="img-box">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <h6>
                            (+12 1234456789)
                        </h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="info_social">
                <div>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end info section -->
<!-- footer section start -->
<footer class="footer_section">
    <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</footer>
<!-- footer section end-->
<div class="scroll-up-btn">
    <a href="#header_" style="color: black"><i class = "fa fa-angle-up"> </i></a>
</div>

<!-- jQuery -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>

<!--Product detail js-->
<!-- Owl carousel -->
<script src="/js/product_detail/owl.carousel.min.js"></script>
<!-- Main activation js -->
<script src="/js/product_detail/relatedProduct.js"></script>


</body>

</html>