<!-- products section -->
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our products
            </h2>
        </div>
        <div class="product_container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p1.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $140
                  </span>
                                <span class="old_price">
                    $165
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p2.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $100
                  </span>
                                <span class="old_price">
                    $120
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p3.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $110
                  </span>
                                <span class="old_price">
                    $130
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p4.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $130
                  </span>
                                <span class="old_price">
                    $135
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p5.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $150
                  </span>
                                <span class="old_price">
                    $170
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p6.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p1.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p2.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p3.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p4.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p5.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="box">
                        <a href="#" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="/product_1"><img src="images/p6.png" alt=""></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </a>
                </span>
                            <a href="/product_1" class="p_name">
                                Gym Equipment
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    $135
                  </span>
                                <span class="old_price">
                    $150
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- See more button -->
        <div class="btn-box">
            <a href="#">
                See More
            </a>
        </div>
    </div>
</section>
<!-- end product section -->