<section class = "cart_section layout_padding" >
    <div class ="container" id="cart-container">
        <div class="heading_container heading_center">
            <h2>
                Shopping Cart
            </h2>
        </div>
        <div class ="cart-table my-5">
            <table width=100%>
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Products</td>
                        <td>Price</td>  
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href ="#" ><i class = "fa fa-trash"></i></a></td>
                        <td><img src = "images/p1.png" alt=""></td>
                        <td><h5>Treadmill Walking Machine</h5></td>
                        <td><h5>$140</h5></td>
                        <td><input type="number" class = "w-25 p1-1" value = "1"></td>
                        <td><h5>$140</h5></td>
                    </tr>
                    <tr>
                        <td><a href ="#" ><i class = "fa fa-trash"></i></a></td>
                        <td><img src = "images/p2.png" alt=""></td>
                        <td><h5>Gym Equipment</h5></td>
                        <td><h5>$100</h5></td>
                        <td><input type="number" class = "w-25 p1-1" value = "1"></td>
                        <td><h5>$100</h5></td>
                    </tr>
                    <tr>
                        <td><a href ="#" ><i class = "fa fa-trash"></i></a></td>
                        <td><img src = "images/p3.png" alt=""></td>
                        <td><h5>Bicycle Machine</h5></td>
                        <td><h5>$110</h5></td>
                        <td><input type="number" class = "w-25 p1-1" value = "1"></td>
                        <td><h5>$110</h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    <div class ="container" id = "cart-bottom"> 
        <div class ="row">
            <div class = "coupon col-lg-6 col-md-6 col-12 mb-4">
                <div class = "cart-bottom-content">
                    <h5>COUPON</h5>
                    <div>
                        <p>Enter your coupon</p>
                        <input type = "text" placeholder="Coupon Code">
                        <button class = "cart-button apply" >APPLY COUPON</button>
                    </div>
                </div>
            </div>
            <div class = "total col-lg-6 col-md-6 col-12 mb-4">
                <div class = "cart-bottom-content">
                    <h5>CART TOTAL</h5>
                    <div>
                        <div class="d-flex justify-content-between">
                            <h6>Subtotal</h6>
                            <p>$350</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6>Shipping</h6>
                            <p>$30</p>
                        </div>
                        <hr class="second-hr"> 
                        <div class="d-flex justify-content-between">
                            <h6>Total</h6>
                            <p>$380</p>
                        </div>
                        <button class = "cart-button checkout ml-auto">CHECK OUT</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>