<div class="container clearfix pt-5">
    {{#if wronguser}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Wrong password or email!!!</strong>
            <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if banneduser}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>This account is being banned!!!</strong>
            <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if adminuser}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>This account isn't available!!!</strong>
            <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-md-4 border-custom">
            <div class="custom-title">New Customer ?</div>
            <p>Register an account</p>
            <p style="padding-bottom: 20px">
                By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made. And explore more features!
            </p>
            <div>
                <a href="/login/register"><button type="submit" class="custom-btn btn btn-primary float-right">Continue</button></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="custom-title">Returning Customer</div>
            <p>I'm returning customer</p>
            <form action="#" method="POST">
                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control"  placeholder="Input your email" name ="username">
                </div>
                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control"  placeholder="Input your password" name="password">
                </div>   
                <div style="padding-left: 80%;">
                    <div>
                        <a href="/login/forgot">Forgot password</a>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="gridCheck">
                            Remember me
                        </label>
                    </div>
                    <div class="pt-2 pb-5">
                        <button type="submit" class="custom-btn btn btn-primary" value="Login">Sign In</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

