<div class="container clearfix">
    <div class="custom-title">Registration Form</div>
        <form action ="/login/register" method="POST">
            <p style="padding-bottom: 20px">If you already have an account with us, please login at the login page.</p>
            <div class="custom-small-title">Your personal detail</div>
            <div style="padding-top: 20px">
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span style="color: #cc0000;">*</span>
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" placeholder="Input your first name" required name="fname">
                    </div>
                    <div class="form-group col-md-6">
                        <span style="color: #cc0000;">*</span>
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Input your last name" required name="lname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span style="color: #cc0000;">*</span>
                        <label for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control"  placeholder="Input your email"name="email">
                        </div>
                        {{#if email_existed}}
                            <h4 style="color:red">Email has existed</h4>
                        {{/if}}
                    </div>
                    <div class="form-group col-md-4">
                        <span style="color: #cc0000;">*</span>
                        <label for="telephone">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Input your phone number" required name="phone">
                    </div>
                    {{#if phone_existed}}
                        <h4 style="color:red">Phone has existed</h4>
                    {{/if}}
                    <div class="form-group col-md-2">
                        <span style="color: #cc0000;">*</span>
                        <label for="inputGender">Gender</label>
                        <select class="form-control" name="gender">
                            <option selected>Choose...</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control"  placeholder="227 Nguyen Van Cu" name="address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span style="color: #cc0000;">*</span>
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" placeholder="Ho Chi Minh"name="city">
                    </div>
                    <div class="form-group col-md-4">
                        <span style="color: #cc0000;">*</span>
                        <label for="inputDistrict">District</label>
                        <input type="text" class="form-control" placeholder="District 5" required name="dis">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" placeholder="70000" name="zip">
                    </div>
                </div>
            </form>
        <!--    field 2-->
            <div class="custom-small-title">Your account information</div>
            <div style="padding-top: 20px">
                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control"  placeholder="Input your username" name="username">
                </div>
                {{#if username_existed}}
                    <h4 style="color:red">Username has existed</h4>
                {{/if}}
                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control"  placeholder="Input your password" name="password">
                </div>
                <div class="form-group">
                    <span style="color: #cc0000;">*</span>
                    <label for="inputPassword">Confirm Password</label>
                    <input type="password" class="form-control"  placeholder="Input your password again" name="confirmpass">
                </div>
                {{#if wrongconfirm}}
                    <h4 style="color:red"> Wrong confirm password</h4>
                {{/if}}
            </form>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="gridCheck">
                        I have read and agree to the <a href="#">Privacy Policy</a>
                    </label>
                </div>
                <div class="pt-4">
                    <button type="submit" class="custom-btn btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>